<footer class="footer usa-footer usa-footer-big">
  <div class="container usa-footer-primary-section">
    <div class="usa-grid-full">
        <div class="usa-width-one-sixth footer-content">
          <img src="{{ site.baseurl }}/assets/images/austin-seal.png" alt="City of Austin">
        </div>
          <div class="usa-width-one-third usa-footer-primary-content footer-content" itemscope itemtype="http://schema.org/ContactPoint">
            <h1>Work</h1>
              <a href="{{ site.baseurl }}/delivery" title="Idea Accelerator">Idea Accelerator</a>
              </br>
              <a href="{{ site.baseurl }}/consulting" title="Consulting">Consulting &amp; Workshops</a>
              <br/>
              <a href="https://civicinnovation.bloomfire.com/" title="Community of Practice">Community of Practice</a>
              <br/>
              <a href="https://github.com/cityofaustin"><i class="fa fa-github" title="City of Austin GitHub page"></i> github.com/cityofaustin</a>
          </div>
          <div class="usa-width-one-third usa-footer-primary-content footer-content">
             <h1>Contact Us</h1>

<!--                 <br/>
 --><!--                 <a href="https://twitter.com/atx_innovation"><i class="fa fa-twitter" title="ATX Innovation Twitter"></i> @atx_innovation</a>
 -->                <!-- </br> -->
                <a href="mailto:innovation@austintexas.gov" itemprop="email"><i class="fa fa-envelope" title= "email us"></i> innovation@austintexas.gov</a>

          </div>

    </div>
    <div class="usa-grid-full">   
    <p><a href="https://18f.gsa.gov/">This website is forked from 18f.gsa.gov.</a></p>
    </div>
  </div>
</footer>
