<a href="#main" class="skips">Skip to main content</a>
<nav class="global-nav {% if page.layout == 'default' %} global-nav-absolute {% endif %}">
  <a href="javascript:;" class="toggle">Menu</a>
  <a href="javascript:;" class="toggle hidden">Close</a>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="{{site.baseurl}}/idea-accelerator">City Manager's Idea Accelerator</a></li>
      <span class="sep">|</span>

    <li class="global-nav-link"><a href="{{site.baseurl}}/consulting/">Consulting</a></li>
     <span class="sep">|</span>

    <li class="global-nav-link"><a href="https://civicinnovation.bloomfire.com/" title="Community of Practice">Community of Practice</a></li>
  </ul>
  <span class="sep">|</span>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="{{site.baseurl}}/">Home</a></li>
  </ul>
</nav>
